<script>
$(function() {
    $('.expandable-header').click(function() {
        $(this).next('.expandable-body').toggle();
        return false;
    });
    $('.expandable-body').hide();
});
</script>

<div class="page-content container">

	<div class="row" ng-show="get_error"> 
		<div class="alert alert-error"> 
		  <strong>Error!</strong> {{get_error}}
		</div> 
	</div>

	<div ng-show="wallet.address">

		<div class="row" style="margin-bottom: 10px;">
		  <div class="col-sm-8">
			<h1>Your Wallet</h1>
		  </div>
		  <div class="col-sm-4">
			<h1 style="float: right; margin-right: 0px;" ng-show="balance">{{balance}} BTC</h1>
		  </div>  
		</div>

		<div class="row">
		  <div class="col-sm-6">
			<h2><a href="https://blockchain.info/address/{{address}}" target='new' class="btn">View Transactions <i class="icon-share"></i></a></h2>

			<div style="text-align:center;padding-top:10px;padding-bottom:10px;overflow:hidden" class="no-watch-only">
				<div id="my-primary-addres-qr-code" style="vertical-align:top;margin-right:10px;"><qrcode class="pull-left" size="125" data="{{address}}"></qrcode></div>

				<div style="display:inline-block;vertical-align:middle;margin-top:5px;" class="well">
					<small>Your Bitcoin Address is:</small>

					<h3>{{address}}</h3>

					<small>You can receive payments at this address.</small>
				</div>
			</div>
			
			
				<div>
					<a class="expandable-header">More Account Info</a> 
				
					<div class="expandable-body" style="display: block; margin-top: 10px;">
						<p>Primary Public Key: {{wallet.primary_key}}
						<p>Secondary Public Key: {{wallet.secondary_key}}
						<p>TrustedCoin Public Key: {{wallet.trustedcoin_pubkey}}
						<p>Address Script: {{wallet.script}}
						<p>TrustedCoin Cosigning Fee: {{wallet.trustedcoin_fee}} Satoshis
					</div>        
				</div>
				
		  </div>
		  
		  <div class="col-sm-6">
			  <form class="well form-horizontal" action="register" method="POST" enctype="multipart/form-data">
				  <fieldset>
					<legend>Send Bitcoins</legend>
					
						<div class="alert alert-error" ng-show="send_error"> 
						  <strong>Error!</strong> {{send_error}}
						</div> 
					  
					  <div class="control-group">
						<label class="control-label" for="id_email">To: </label>
						<div class="controls">
						  <input type="text" class="span4" ng-model="to_address" placeholder="Bitcoin Address">
						</div>
					  </div>
					  
					  <div class="control-group">
						<label class="control-label" for="id_email">Amount:</label>
						<div class="controls">
						  <input type="text" class="span4" ng-model="to_amount" placeholder="BTC">
						</div>
					  </div>
					  
					
					  <div class="form-actions" ng-hide="prompt_sign">
						<a ng-click="send_btc()" class="btn btn-primary">Send</a>
					  </div>
				  </fieldset>
			  </form>
			  <form class="well form-horizontal" action="register" method="POST" enctype="multipart/form-data" ng-show="prompt_sign">
				  <fieldset>
					<div ng-hide="encrypted_mnemonic">
						<legend>To complete this transaction, please enter your 12-word primary mnemonic</legend>
						<p><input ng-model="mnemonic" class="input-xxlarge" type="text">
						<p><a ng-click="save_mnemonic=true">Save Mnemonic </a>
						<div ng-show="save_mnemonic">
							<p>For convenience, you can save a local copy of your mnemonic encrypted with a simpler password.
							
							  <div class="control-group">
								<label class="control-label" for="id_email">Password: </label>
								<div class="controls">
									<input type="password" class="span2" ng-model="password">
									<a ng-click="encrypt_mnemonic()" class="btn btn-primary">Save</a>
								</div>
							  </div>
							
						</div>
					</div>
					<div ng-show="encrypted_mnemonic">
						<legend>To complete this transaction, please enter your password</legend>
							  <div class="control-group">
								<label class="control-label" for="id_email">Password: </label>
								<div class="controls">
									<input type="password" class="span2" ng-model="password">
									<a ng-click="encrypt_mnemonic()" class="btn btn-primary">Save</a>
								</div>
							  </div>
						<p><a ng-click="remove_local_mnemonic()">Remove local copy of mnemonic </a>
					</div>
					
					<div class="progress progress-striped" style="margin-top: 10px;" ng-show="show_progress">
					  <div class="bar" id="seed-progress" style="width: 0%;"></div>
					</div>					
					<div class="form-actions">
						<a ng-click="sign_transaction()" class="btn btn-primary">Send</a>
						<a ng-click="prompt_sign=false" class="btn">Cancel</a>
					</div>
				  </fieldset>
			  </form>
			  
		  </div>
		  
		</div>
	</div>
</div>	